@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ecf0f5;
}
.input-black input {
  color: #333 !important;
}
.wrapper {
  overflow: visible;
}
#menu-bg {
  background-color: #3c8dbc;
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
}
fieldset legend {
  color: #337ab7;
}
a.dark-link {
  color: #333;
}
a.dark-link:hover {
  text-decoration: underline;
}
table.no-tools .show-on-hover {
  display: none;
}
table.no-tools tr:hover .show-on-hover {
  display: inline-block;
}
.nav-tabs-dark {
  background-color: #dde1e6;
}
.bg-lightgray {
  background-color: #fff !important;
  color: #dcdcdc;
  font-size: 12px;
}
.modal-lg {
  width: 1000px !important;
}
.redactor-green .redactor-box {
  border-radius: 3px;
  border-top: 3px solid #00a65a;
}
.redactor-blue .redactor-box {
  border-radius: 3px;
  border-top: 3px solid #0073b7;
}
.redactor-yellow .redactor-box {
  border-radius: 3px;
  border-top: 3px solid #f3e212;
}
.redactor-orange .redactor-box {
  border-radius: 3px;
  border-top: 3px solid #FF851B;
}
.redactor-red .redactor-box {
  border-radius: 3px;
  border-top: 3px solid #dd4b39;
}
table {
  font-size: 14px;
}
.wrapper {
  max-width: 1440px;
}
.client-name {
  color: #5d5d5d;
}
.client-name a {
  color: #5d5d5d;
}
.client-name a:hover {
  color: #3c8dbc;
}
.client-nr a {
  color: #bbb;
}
.client-nr a:hover {
  color: #3c8dbc;
}
.slider-tick {
  color: #ccc;
}
.slider-tick.in-selection {
  color: #333;
}
.content-wrapper {
  min-width: 864px;
}
.call-us {
  line-height: 50px;
  color: #fff;
  border-left: 1px solid #589dc5;
  height: 50px;
  display: block;
  float: left;
  padding-left: 15px;
}
.with-tools tbody td {
  position: relative;
  padding-bottom: 25px !important;
}
.with-tools tbody tr:hover .tools {
  display: block;
}
.with-tools thead a {
  color: #333;
}
.with-tools thead a:hover {
  text-decoration: underline;
}
.with-tools .tools {
  position: absolute;
  bottom: 2px;
  width: 600px;
  z-index: 99;
  display: none;
  color: #ccc;
}
input,
select {
  color: #3c8dbc !important;
}
.text-muted {
  color: #bbb;
}
.label-default {
  color: #fff;
}
.bg-yellow {
  background-color: #f3e212 !important;
}
.text-yellow {
  color: #f3e212 !important;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.hover-icon i {
  display: none;
}
.table tr:hover .hover-icon i {
  display: inline;
}
.sorted-by {
  border: 2px solid #f4f4f4 !important;
  border-bottom: none !important;
  background-color: #f9f9f9;
}
.modal-header {
  background-color: #337ab7;
  color: #fff;
  text-align: center;
}
.modal-footer {
  background-color: #eee;
  text-align: center;
}
.progress-bar-lightgreen {
  -webkit-animation-name: greyPulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
.bg-grey {
  background-color: #eee;
}
.modal h3 {
  padding-top: 0;
  margin-top: 0;
  font-size: 18px;
  color: #337ab7;
  text-align: center;
}
.main-sidebar .sidebar-menu > li.active > a,
.left-side .sidebar-menu > li.active > a {
  font-weight: 500;
}
.main-sidebar .sidebar-menu > li:hover > a,
.left-side .sidebar-menu > li:hover > a {
  background-color: #f2f7fb !important;
}
.main-sidebar .sidebar-menu > li.header,
.left-side .sidebar-menu > li.header {
  background-color: #fff !important;
}
.main-sidebar li > a > .fa,
.left-side li > a > .fa {
  width: 20px;
  color: #3c8dbc;
}
.main-sidebar .checked .fa,
.left-side .checked .fa {
  color: #00a65a !important;
}
.main-sidebar .sidebar-menu.wizard a,
.left-side .sidebar-menu.wizard a,
.main-sidebar .sidebar-menu.wizard .fa,
.left-side .sidebar-menu.wizard .fa {
  color: #ccc;
}
.main-sidebar .sidebar-menu.wizard .checked a,
.left-side .sidebar-menu.wizard .checked a {
  color: #3c8dbc;
}
.main-sidebar .sidebar-menu.wizard .active a,
.left-side .sidebar-menu.wizard .active a {
  color: #333;
}
.timeline > li > .timeline-item > .timeline-header {
  padding: 5px 10px;
}
.timeline .timeline-item {
  background-color: #E6EDF2 !important;
}
.timeline .date {
  display: inline-block;
  width: 120px;
}
.timeline h3 {
  text-align: left;
}
.timeline .remove-payment {
  position: absolute;
  right: -20px;
}
.timeline .time-label {
  margin-top: 27px;
  height: 36px;
}
.timeline .time-label input {
  border: 1px solid #fff;
  text-align: right;
}
.timeline .time-label:hover input {
  border: 1px solid #ccc;
}
.timeline .time-label .days-between {
  display: block;
}
/*.timeline .time-label .days-between-hover {*/
  /*display: none;*/
/*}*/
/*.timeline .time-label .bg-lightgray:hover .days-between {*/
  /*display: none;*/
/*}*/
/*.timeline .time-label .bg-lightgray:hover .days-between-hover {*/
  /*display: block;*/
/*}*/
.timeline.reminder-flow {
  margin-top: 10px;
}
.timeline.reminder-flow .timeline-item {
  background-color: #fff !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.timeline.reminder-flow .timeline-item a {
  display: block;
}
.timeline.reminder-flow .timeline-item:hover {
  background-color: #EFF7FB !important;
}
.timeline.reminder-flow li.active .timeline-item {
  background-color: #E6EDF2 !important;
}
.timeline.reminder-flow li.active .timeline-item .reminder-flow-exceptions {
  display: block;
}
.timeline.reminder-flow .reminder-flow-exceptions {
  display: none;
  margin-top: 5px;
}
.timeline.reminder-flow .reminder-flow-exceptions a.active {
  background: #3c8dbc;
  color: #fff;
}
.timeline.reminder-flow .reminder-flow-exceptions a {
  padding-left: 25px;
  font-size: 15px;
  margin-bottom: 3px;
}
.timeline.timeline-small::before {
  left: 6px;
}
.timeline.timeline-small h3 {
  font-size: 12px !important;
}
.timeline.timeline-small i {
  width: 15px;
  height: 15px;
  left: 0;
}
.timeline.timeline-small .timeline-item {
  margin-left: 20px;
  margin-right: 0px;
}
.timeline.timeline-small .timeline-item strong {
  width: auto;
}
.timeline.reminder-flow .unknown-reminder .fa {
  background-color: #eee !important;
  border: 1px dashed #ccc !important;
  color: #ccc;
}
.timeline.reminder-flow .unknown-reminder .timeline-header {
  color: #ccc !important;
}
.timeline.reminder-flow .unknown-reminder .timeline-item:hover {
  background-color: #fff !important;
}
.timeline.reminder-flow.condensed .time-label {
  margin-top: 15px;
}
.timeline.reminder-flow.condensed li {
  margin-bottom: 0;
}
.box-edit-flow {
  background-color: #E6EDF2 !important;
  box-shadow: none;
  height: 700px;
}
.box-edit-flow-empty {
  border: 3px solid #E6EDF2 !important;
  box-shadow: none;
  height: 700px;
}
.box-edit-flow-empty .click-to-edit {
  font-size: 30px;
  padding: 30px;
  margin-top: 105px;
}
.flow-left {
  padding-left: 15px;
  float: left;
  width: 350px;
}
.flow-left .timeline li {
  margin-right: 0;
}
.flow-left .timeline li .fa.colored-ball {
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}
.flow-left .timeline .timeline-item {
  margin-right: 0;
  border-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.flow-right {
  margin-left: 350px;
  margin-right: 15px;
}
#tabs-mail-types .inactive a,
#tabs-mail-types .inactive .fa {
  color: #ccc !important;
}
#tabs-mail-types .sent a {
  color: #a9a9a9 !important;
}
#tabs-mail-types .active a {
  color: inherit !important;
}
.history-faded {
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}
.history-faded:hover {
  opacity: 1.0;
}
@-webkit-keyframes greyPulse {
  from {
    background-color: #eee;
  }
  50% {
    background-color: #bbb;
  }
  to {
    background-color: #eee;
  }
}
/**
 NEW INVOICE
**/
#new-invoice {
  width: 880px;
  /*margin:auto auto;*/
  margin-left: 0px;
  border: 1px solid #ccc;
  position: relative;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.5);
}
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.ribbon-green:before,
.ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}
.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
.btn-greyed {
  background-color: #4d5b69;
  border-color: #2b3c4c;
  color: #263442;
}
.edit-in-place {
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.edit-in-place:hover {
  background-color: #daf1f7;
  color: #1a657b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.edit-in-place:focus {
  background-color: #fff7b8;
  border: 1px solid #ffb192;
  outline: none;
}
select.edit-in-place {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border: none;
  color: #333 !important;
}
table .show-on-hover {
  visibility: hidden;
}
table tr:hover .show-on-hover {
  visibility: visible;
}
table tr.selected td {
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}
.payment-plan {
  position: absolute;
  width: 200px;
  bottom: 2px;
  right: 15px;
  display: none;
  z-index: 99;
  text-align: right;
  color: #ccc;
}
tr:hover .payment-plan {
  display: block;
}
/**
 * New invoice
 */
.page-padding {
  padding: 0 15px;
}
.discount {
  /*display: none;*/
  font-size: 11px;
}
.discount input {
  padding-right: 14px;
  text-align: right;
}
.discount span {
  margin-left: -18px;
}
.btn-discount {
  display: none;
}
.btn-discount.active {
  background-color: #3FA5E4;
  border: 1px solid #3FA5E4;
}
.btn-discount.active i {
  color: #fff;
}
.btn-discount:hover {
  border: 1px solid #3FA5E4;
}
.btn-discount:hover i {
  color: #3FA5E4;
}
.inactive td {
  color: #ccc !important;
}
#invoice-page {
  max-width: 800px;
  min-width: 700px;
  float: left;
}
#invoice-page input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 11px;
  font-style: italic;
}
#invoice-page input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 11px;
  font-style: italic;
}
#invoice-page input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 11px;
  font-style: italic;
}
#invoice-page input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 11px;
  font-style: italic;
}
#products-categories {
  left: 980px;
  margin-left: 5px;
  float: left;
  position: absolute;
}
#product-list {
  width: 440px;
  float: left;
}
#product-list ul.productlist {
  font-size: 12px;
  max-height: 880px;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
#product-list ul.productlist .product-price {
  float: right;
  font-size: 11px;
}
#product-list ul.productlist .product-name {
  color: #333;
  display: inline-block;
  width: 250px;
}
#product-list ul.productlist .product-code {
  display: block;
  float: left;
  width: 100px;
}
#product-list ul.productlist li {
  border-bottom: 1px solid #eee;
  padding: 5px;
}
#product-list ul.productlist li:hover {
  background: #3c8dbc;
  color: #fff;
}
#product-list ul.productlist li:hover .product-name {
  color: #fff;
  max-height: 190px;
}
#product-list ul.productlist li a {
  display: block;
}
#category-list {
  position: absolute;
  width: 200px;
  right: -200px;
  top: 58px;
  border-left: 1px solid #ccc;
}
#category-list .nav-pills > li {
  background-color: #fff;
}
#category-list .active a {
  background: #3c8dbc;
  color: #fff;
}
#category-list a:hover {
  border-left: 3px solid #3c8dbc;
}
.category-list span.product-count {
  float: right;
  line-height: 40px;
  color: #ccc;
  background: #f9f9f9;
  border-left: 1px solid #f4f4f4;
  width: 50px;
  text-align: center;
  margin-right: -15px;
  margin-top: -10px;
  position: relative;
}
.category-list .edit {
  display: none;
}
.category-list .remove {
  opacity: 0;
  position: absolute;
  color: #fff;
  width: 50px;
  height: 40px;
  line-height: 40px;
  z-index: 99;
  top: 0;
  right: -50px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.category-list li:hover .product-count {
  background-color: #eee;
  color: #ccc;
  border-left: 1px solid #dedede;
}
.category-list li:hover .remove {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
}
.category-list li.active {
  background: #3c8dbc;
}
.category-list li.active .edit {
  display: inline-block;
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}
.category-list li.active .edit:hover {
  color: #000;
}
.category-list li.active a {
  color: #fff;
}
.category-list li.active .product-count {
  background-color: #1c78ad;
  border-left: 1px solid #14608c;
  color: #fff;
}
#col-factuur-nr {
  width: 33%;
}
#col-factuur-datum-label {
  width: 8%;
}
#col-factuur-datum {
  width: 17%;
}
#col-factuur-verval-label {
  width: 8.333333%;
}
#col-factuur-verval {
  width: 17%;
}
.days-of-week {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.days-of-week th,
.days-of-week td {
  font-weight: normal;
  width: 40px;
  text-align: center;
}
/**
 * Invoice layout
 */
.invoice-layout {
  margin: 0 15px 15px 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 43px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 43px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 43px -13px rgba(0, 0, 0, 0.75);
}
.invoice-layout .editable {
  border: 1px solid #fff;
}
.invoice-layout .editable:hover {
  background-color: #daf1f7;
}
.invoice-layout .editable:focus {
  outline: 0;
  background-color: #fff7b8;
  border: 1px solid #ffb192;
}
.invoice-layout:hover .editable {
  border: 1px dashed #ccc !important;
  border-radius: 5px;
}
.invoice-layout .invoice-logo {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
}
.invoice-layout .invoice-logo:hover {
  background: #f9f9f9;
}
.invoice-layout .invoice-company-info {
  text-align: right;
  margin-bottom: 50px;
}
.invoice-layout .invoice-client-info {
  font-weight: 500;
}
.invoice-layout .invoice-table-summary tfoot {
  font-weight: bold;
  font-size: 16px;
}
.invoice-layout .invoice-table-summary td {
  text-align: right;
}
.invoice-layout .disclaimer {
  font-size: 11px;
  color: #ccc;
}
.invoice-layout .disclaimer:focus {
  color: #333;
}
.box.dark {
  background: #ecf0f5;
}
.box.dark hr {
  border-color: #c7cdd6;
}
.box.dark .box-header {
  background-color: #dde1e6;
}
.box.dark .box-header.with-border {
  border-color: #c7cdd6;
}
.invoice-templates {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.invoice-templates li {
  list-style: none;
  display: block;
  height: 180px;
  width: 120px;
  background: #fff;
  float: left;
  margin-right: 5px;
  border: 1px solid #c7cdd6;
  opacity: 0.5;
  position: relative;
}
.invoice-templates li:hover {
  opacity: 1;
  cursor: pointer;
}
.invoice-templates li.selected {
  border-color: #3c8dbc;
  opacity: 1;
}
.invoice-templates li:last-child {
  margin-right: 0;
}
.invoice-templates li span {
  display: none;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  width: 100%;
}
.invoice-templates li:hover span {
  display: block;
}
#templates-prev,
#templates-next {
  display: none;
  height: 30px;
  width: 30px;
  background: #c7cdd6;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  z-index: 99;
}
#templates-prev {
  top: 80px;
  left: 0px;
}
#templates-next {
  top: 80px;
  right: 0px;
}
.on-hover:hover #templates-next,
.on-hover:hover #templates-prev {
  display: block;
}
#accent-color {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
#accent-color li {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
#accent-color li.selected:after {
  content: "\f00c";
  font-family: fontawesome;
  color: #fff;
  position: absolute;
  width: 25px;
  display: inline-block;
  line-height: 25px;
  left: 0;
}
.attachment {
  text-align: center;
  background: #fff;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 15px;
}
.attachment:hover {
  background: #eee;
}
.attachments {
  margin: 0;
  padding: 0;
  list-style: none;
}
.attachments .show-on-hover {
  display: none;
  margin-top: 2px;
}
.attachments li:hover .show-on-hover {
  display: block;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/

.custom-label-red {
  background: #d9534f !important;
  padding-left: 15px;
  padding-right: 15px; }

.custom-label-blue {
  background: #337ab7 !important;
  padding-left: 14px;
  padding-right: 14px; }

.custom-label-green {
  background: #5cb85c !important;
  padding-left: 15px;
  padding-right: 15px; }

.custom-label-orange {
  background: #f0ad4e !important;
  padding-left: 11px;
  padding-right: 11px; }

.custom-label-black {
  background: black !important;
  padding-left: 15px;
  padding-right: 15px; }

.custom-label-grey {
  background: #ccc !important;
  padding-left: 25px;
  padding-right: 25px; }

.disabled {
  color: gray !important;
  cursor: not-allowed !important;
  background: #eee !important; }
.disabled:hover {
  background: #eee !important; }

.pagination a, th a, tr a{
  cursor: pointer;}

.warning-span{
  color: #f0ad4e;}

.spacing-top{
  margin-top: 5px !important;}

.custom-form{
  margin-right: 10px;}

.custom-alert{
  padding-top: 3px;
  padding-bottom: 3px;}

.pointer-cursor{
  cursor:pointer;}

.custom-textarea{
  resize: none !important;
  font-size: 14px;
  color : #3c8dbc;
  min-height: 34px !important;
  overflow-y: hidden;
  text-align: justify;
}

.custom-textarea::-webkit-input-placeholder {
  font-size: 11px;
  font-style: italic;
  margin-top: 13px;}

.custom-textarea:-moz-placeholder {
  font-size: 11px;
  font-style: italic;
  margin-top: 13px;}

#line-items, #line-items tr{
  min-width: 780px; !important;}

.ui-state-highlight{
  height: 60px;
  width: 860px;
  opacity: 0.9;
  background: #CFCFCF !important;
  z-index: 1;}

.pdf{
  margin: 0 auto !important;}

#modal-test{
  border: 1px solid grey;}

#frame{
  background: white;}

.reminder-flow-exceptions{
  display: block !important;
}

.select2-results__option .select-2-option{
  color: #ccc !important;
}

.select2-results__option:hover .select-2-option {
  color: #87c4e8 !important;
}

.select2-results__option[aria-selected = true] .select-2-option {
  color: #87c4e8 !important;
}

.blue-link{
  color: #3C8DBA !important;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 1580px) {
  #category-list {
    display: block;
  }
  #category-list-dropdown {
    display: none;
  }
  #col-search {
    width: 100%;
  }
}
@media screen and (max-width: 1579px) {
  #category-list {
    display: none;
  }
  #category-list-dropdown {
    display: inline-block;
  }
}
#quote {
  padding: 15px;
  color: #999;
  font-size: 12px;
  font-style: italic;
}
#quote span {
  color: #666;
  font-weight: bold;
  font-style: normal;
}
/**
* Subscriptions
*/
/*!
 * pricing.css (https://github.com/abhimaliyeckal)
 * Version: 1.0
 * Author: Abhishek Raj
 * Linkedin URL: https://in.linkedin.com/in/abhimaliyeckal
 * Github: https://github.com/abhimaliyeckal

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * pricing.css Copyright Abhishek Raj 2014.
 */
#price-table {
  /*Already Defined Colours*/
  /*Background*/
  /*Only Text Colours*/
  /*Additional Button styles*/
  /*BTN-DARK*/
  /*BTN-ROYAL---------*/
  /*BTN-STATIC---------*/
  /*!
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.10
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */
}
#price-table .price_table_container {
  text-align: center;
  color: #666;
  margin-top: 35px;
  font-family: 'Open Sans', sans-serif;
}
#price-table .price_table_heading {
  font-size: 36px;
  padding: 10px;
  background: #EEE;
}
#price-table .price_table_row {
  padding: 15px;
  background: #FFF;
}
#price-table .cost {
  padding: 30px;
  font-size: 30px;
}
#price-table .cost span {
  font-size: 15px;
}
#price-table .btn {
  border-radius: 0;
}
#price-table .price_table_row:nth-of-type(even) {
  background: #F8F8F8;
}
#price-table .recommended,
#price-table .current {
  /*USER DEFINED COLOUR*/
  background: #FF3A3A;
  color: #FFF;
  /*USER DEFINED COLOUR*/
  padding: 3px 0 3px 0;
  margin-top: 10px;
  text-align: center;
  margin-bottom: -35px;
  font-family: 'Open Sans', sans-serif;
}
#price-table .current {
  background-color: #026CA9;
}
#price-table .spacer {
  width: 100%;
  height: 50px;
}
#price-table .primary-bg {
  background: #337AB7;
  color: #FFF;
}
#price-table .success-bg {
  background: #5CB85C;
  color: #FFF;
}
#price-table .info-bg {
  background: #5BC0DE;
  color: #FFF;
}
#price-table .warning-bg {
  background: #F0AD4E;
  color: #FFF;
}
#price-table .danger-bg {
  background: #D9534F;
  color: #FFF;
}
#price-table .dark-bg {
  background: #444;
  color: #FFF;
}
#price-table .royal-bg {
  background: #8E74E2;
  color: #FFF;
}
#price-table .static-bg {
  background: #2BB0A6;
  color: #FFF;
}
#price-table .primary-text {
  background: #FFF;
  color: #337AB7;
}
#price-table .success-text {
  background: #FFF;
  color: #5CB85C;
}
#price-table .info-text {
  background: #FFF;
  color: #5BC0DE;
}
#price-table .warning-text {
  background: #FFF;
  color: #F0AD4E;
}
#price-table .danger-text {
  background: #FFF;
  color: #D9534F;
}
#price-table .dark-text {
  background: #FFF;
  color: #444;
}
#price-table .royal-text {
  background: #FFF;
  color: #8E74E2;
}
#price-table .static-text {
  background: #FFF;
  color: #2BB0A6;
}
#price-table .btn-dark {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
#price-table .btn-dark:hover,
#price-table .btn-dark:focus,
#price-table .btn-dark.focus,
#price-table .btn-dark:active,
#price-table .btn-dark.active,
#price-table .open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
#price-table .btn-dark:active,
#price-table .btn-dark.active,
#price-table .open > .dropdown-toggle.btn-dark {
  background-image: none;
}
#price-table .btn-royal {
  color: #fff;
  background-color: #8E74E2;
  border-color: #8E74E2;
}
#price-table .btn-royal:hover,
#price-table .btn-royal:focus,
#price-table .btn-royal.focus,
#price-table .btn-royal:active,
#price-table .btn-royal.active,
#price-table .open > .dropdown-toggle.btn-royal {
  color: #fff;
  background-color: #7451E8;
  border-color: #7451E8;
}
#price-table .btn-royal:active,
#price-table .btn-royal.active,
#price-table .open > .dropdown-toggle.btn-royal {
  background-image: none;
}
#price-table .btn-static {
  color: #fff;
  background-color: #2BB0A6;
  border-color: #2BB0A6;
}
#price-table .btn-static:hover,
#price-table .btn-static:focus,
#price-table .btn-static.focus,
#price-table .btn-static:active,
#price-table .btn-static.active,
#price-table .open > .dropdown-toggle.btn-static {
  color: #fff;
  background-color: #07A094;
  border-color: #07A094;
}
#price-table .btn-static:active,
#price-table .btn-static.active,
#price-table .open > .dropdown-toggle.btn-static {
  background-image: none;
}
#price-table .button {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#price-table .grow {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .grow:active,
#price-table .grow:focus,
#price-table .grow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#price-table .shrink {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .shrink:active,
#price-table .shrink:focus,
#price-table .shrink:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
#price-table .pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .pulse:active,
#price-table .pulse:focus,
#price-table .pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
#price-table .pulse-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .pulse-grow:active,
#price-table .pulse-grow:focus,
#price-table .pulse-grow:hover {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
#price-table .pulse-shrink {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .pulse-shrink:active,
#price-table .pulse-shrink:focus,
#price-table .pulse-shrink:hover {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#price-table .push {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .push:active,
#price-table .push:focus,
#price-table .push:hover {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#price-table .pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .pop:active,
#price-table .pop:focus,
#price-table .pop:hover {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#price-table .rotate {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .rotate:active,
#price-table .rotate:focus,
#price-table .rotate:hover {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
#price-table .grow-rotate {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .grow-rotate:active,
#price-table .grow-rotate:focus,
#price-table .grow-rotate:hover {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
#price-table .float {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .float:active,
#price-table .float:focus,
#price-table .float:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#price-table .sink {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .sink:active,
#price-table .sink:focus,
#price-table .sink:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
#price-table .hover {
  display: inline-block;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .hover:active,
#price-table .hover:focus,
#price-table .hover:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
#price-table .hang {
  display: inline-block;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .hang:active,
#price-table .hang:focus,
#price-table .hang:hover {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hang;
  animation-name: hang;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#price-table .skew {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .skew:active,
#price-table .skew:focus,
#price-table .skew:hover {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
#price-table .skew-forward {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .skew-forward:active,
#price-table .skew-forward:focus,
#price-table .skew-forward:hover {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
#price-table .skew-backward {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .skew-backward:active,
#price-table .skew-backward:focus,
#price-table .skew-backward:hover {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#price-table .wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .wobble-vertical:active,
#price-table .wobble-vertical:focus,
#price-table .wobble-vertical:hover {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#price-table .wobble-horizontal {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .wobble-horizontal:active,
#price-table .wobble-horizontal:focus,
#price-table .wobble-horizontal:hover {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#price-table .wobble-to-bottom-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .wobble-to-bottom-right:active,
#price-table .wobble-to-bottom-right:focus,
#price-table .wobble-to-bottom-right:hover {
  -webkit-animation-name: wobble-to-bottom-right;
  animation-name: wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#price-table .wobble-to-top-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .wobble-to-top-right:active,
#price-table .wobble-to-top-right:focus,
#price-table .wobble-to-top-right:hover {
  -webkit-animation-name: wobble-to-top-right;
  animation-name: wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
#price-table .wobble-top {
  display: inline-block;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .wobble-top:active,
#price-table .wobble-top:focus,
#price-table .wobble-top:hover {
  -webkit-animation-name: wobble-top;
  animation-name: wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
#price-table .wobble-bottom {
  display: inline-block;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .wobble-bottom:active,
#price-table .wobble-bottom:focus,
#price-table .wobble-bottom:hover {
  -webkit-animation-name: wobble-bottom;
  animation-name: wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
#price-table .wobble-skew {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .wobble-skew:active,
#price-table .wobble-skew:focus,
#price-table .wobble-skew:hover {
  -webkit-animation-name: wobble-skew;
  animation-name: wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
#price-table .buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .buzz:active,
#price-table .buzz:focus,
#price-table .buzz:hover {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
#price-table .buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .buzz-out:active,
#price-table .buzz-out:focus,
#price-table .buzz-out:hover {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#price-table .border-fade {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .border-fade:active,
#price-table .border-fade:focus,
#price-table .border-fade:hover {
  box-shadow: inset 0 0 0 4px #666, 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .hollow {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .hollow:active,
#price-table .hollow:focus,
#price-table .hollow:hover {
  background: 0 0;
}
#price-table .trim {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .trim:before {
  content: '';
  position: absolute;
  border: #fff solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
#price-table .trim:active:before,
#price-table .trim:focus:before,
#price-table .trim:hover:before {
  opacity: 1;
}
#price-table .outline-outward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .outline-outward:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top,right,bottom,left;
  transition-property: top, right, bottom, left;
}
#price-table .outline-outward:active:before,
#price-table .outline-outward:focus:before,
#price-table .outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
#price-table .outline-inward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .outline-inward:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top,right,bottom,left;
  transition-property: top, right, bottom, left;
}
#price-table .outline-inward:active:before,
#price-table .outline-inward:focus:before,
#price-table .outline-inward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
#price-table .round-corners {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .round-corners:active,
#price-table .round-corners:focus,
#price-table .round-corners:hover {
  border-radius: 1em;
}
#price-table .glow {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .glow:active,
#price-table .glow:focus,
#price-table .glow:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#price-table .box-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .box-shadow-outset:active,
#price-table .box-shadow-outset:focus,
#price-table .box-shadow-outset:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#price-table .box-shadow-inset {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
#price-table .box-shadow-inset:active,
#price-table .box-shadow-inset:focus,
#price-table .box-shadow-inset:hover {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .float-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform,opacity;
  transition-property: transform, opacity;
}
#price-table .float-shadow:active,
#price-table .float-shadow:focus,
#price-table .float-shadow:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#price-table .float-shadow:active:before,
#price-table .float-shadow:focus:before,
#price-table .float-shadow:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: 0.4;
  }
}
@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: 0.4;
  }
}
#price-table .hover-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform,opacity;
  transition-property: transform, opacity;
}
#price-table .hover-shadow:active,
#price-table .hover-shadow:focus,
#price-table .hover-shadow:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#price-table .hover-shadow:active:before,
#price-table .hover-shadow:focus:before,
#price-table .hover-shadow:hover:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#price-table .shadow-radial {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .shadow-radial:after,
#price-table .shadow-radial:before {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
#price-table .shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 80%);
}
#price-table .shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 80%);
}
#price-table .shadow-radial:active:after,
#price-table .shadow-radial:active:before,
#price-table .shadow-radial:focus:after,
#price-table .shadow-radial:focus:before,
#price-table .shadow-radial:hover:after,
#price-table .shadow-radial:hover:before {
  opacity: 1;
}
#price-table .bubble-top {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top;
  transition-property: top;
  left: calc(40%);
  top: 0;
  border-width: 0 10px 10px;
  border-color: transparent transparent #e1e1e1;
}
#price-table .bubble-top:active:before,
#price-table .bubble-top:focus:before,
#price-table .bubble-top:hover:before {
  top: -10px;
}
#price-table .bubble-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-right:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: right;
  transition-property: right;
  top: calc(40%);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
}
#price-table .bubble-right:active:before,
#price-table .bubble-right:focus:before,
#price-table .bubble-right:hover:before {
  right: -10px;
}
#price-table .bubble-bottom {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  left: calc(40%);
  bottom: 0;
  border-width: 10px 10px 0;
  border-color: #e1e1e1 transparent transparent;
}
#price-table .bubble-bottom:active:before,
#price-table .bubble-bottom:focus:before,
#price-table .bubble-bottom:hover:before {
  bottom: -10px;
}
#price-table .bubble-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-left:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: left;
  transition-property: left;
  top: calc(40%);
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
}
#price-table .bubble-left:active:before,
#price-table .bubble-left:focus:before,
#price-table .bubble-left:hover:before {
  left: -10px;
}
#price-table .bubble-float-top {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-float-top:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(40%);
  top: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: transparent transparent #e1e1e1;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top;
  transition-property: top;
}
#price-table .bubble-float-top:active,
#price-table .bubble-float-top:focus,
#price-table .bubble-float-top:hover {
  -webkit-transform: translateY(5px) translateZ(0);
  transform: translateY(5px) translateZ(0);
}
#price-table .bubble-float-top:active:before,
#price-table .bubble-float-top:focus:before,
#price-table .bubble-float-top:hover:before {
  top: -10px;
}
#price-table .bubble-float-right {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: calc(40%);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: right;
  transition-property: right;
}
#price-table .bubble-float-right:active,
#price-table .bubble-float-right:focus,
#price-table .bubble-float-right:hover {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}
#price-table .bubble-float-right:active:before,
#price-table .bubble-float-right:focus:before,
#price-table .bubble-float-right:hover:before {
  right: -10px;
}
#price-table .bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(40%);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #e1e1e1 transparent transparent;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}
#price-table .bubble-float-bottom:active,
#price-table .bubble-float-bottom:focus,
#price-table .bubble-float-bottom:hover {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}
#price-table .bubble-float-bottom:active:before,
#price-table .bubble-float-bottom:focus:before,
#price-table .bubble-float-bottom:hover:before {
  bottom: -10px;
}
#price-table .bubble-float-left {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(40%);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: left;
  transition-property: left;
}
#price-table .bubble-float-left:active,
#price-table .bubble-float-left:focus,
#price-table .bubble-float-left:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
#price-table .bubble-float-left:active:before,
#price-table .bubble-float-left:focus:before,
#price-table .bubble-float-left:hover:before {
  left: -10px;
}
#price-table .curl-top-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: #fff;
  background: linear-gradient(135deg, #fff 45%, #aaa 50%, #ccc 56%, #fff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#000000');
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: width,height;
  transition-property: width, height;
}
#price-table .curl-top-left:active:before,
#price-table .curl-top-left:focus:before,
#price-table .curl-top-left:hover:before {
  width: 25px;
  height: 25px;
}
#price-table .curl-top-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: #fff;
  background: linear-gradient(225deg, #fff 45%, #aaa 50%, #ccc 56%, #fff 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: width,height;
  transition-property: width, height;
}
#price-table .curl-top-right:active:before,
#price-table .curl-top-right:focus:before,
#price-table .curl-top-right:hover:before {
  width: 25px;
  height: 25px;
}
#price-table .curl-bottom-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  background: linear-gradient(315deg, #fff 45%, #aaa 50%, #ccc 56%, #fff 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: width,height;
  transition-property: width, height;
}
#price-table .curl-bottom-right:active:before,
#price-table .curl-bottom-right:focus:before,
#price-table .curl-bottom-right:hover:before {
  width: 25px;
  height: 25px;
}
#price-table .curl-bottom-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#price-table .curl-bottom-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  background: linear-gradient(45deg, #fff 45%, #aaa 50%, #ccc 56%, #fff 80%);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: width,height;
  transition-property: width, height;
}
#price-table .curl-bottom-left:active:before,
#price-table .curl-bottom-left:focus:before,
#price-table .curl-bottom-left:hover:before {
  width: 25px;
  height: 25px;
}
