

<div class="banner">
    <div class="container">
        <div class="banner_desc">
            <h1>New Season Arrivals.</h1>
            <h2>Check out all the new trends</h2>
            <div class="button">
                <a href="#" class="hvr-shutter-out-horizontal">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<div class="content_top" style="background: #FFFFFF">
    <div class="container">
        <h3 class="m_1">Arka Products</h3>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="shop-holder1">
                        <a href="single.html"><img src="images/pr1.png" class="img-responsive" alt=""/></a>
                    </div>
                    <div class="shop-content" style="height: 80px;">
                        <h3><a href="single.html">Non-charac</a></h3>
                        <span><span class="amount">$45.00</span></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="shop-holder1">
                        <a href="single.html"><img src="images/pr2.png" class="img-responsive" alt=""/></a>
                    </div>
                    <div class="shop-content" style="height: 80px;">
                        <h3><a href="single.html">Non-charac</a></h3>
                        <span><span class="amount">$45.00</span></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="shop-holder1">
                        <a href="single.html"><img src="images/pr3.png" class="img-responsive" alt=""/></a>
                    </div>
                    <div class="shop-content" style="height: 80px;">
                        <h3><a href="single.html">Non-charac</a></h3>
                        <span><span class="amount">$45.00</span></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="shop-holder1">
                        <a href="single.html"><img src="images/pr1.png" class="img-responsive" alt=""/></a>
                    </div>
                    <div class="shop-content" style="height: 80px;">
                        <h3><a href="single.html">Non-charac</a></h3>
                        <span><span class="amount">$45.00</span></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="shop-holder1">
                        <a href="single.html"><img src="images/pr2.png" class="img-responsive" alt=""/></a>
                    </div>
                    <div class="shop-content" style="height: 80px;">
                        <h3><a href="single.html">Non-charac</a></h3>
                        <span><span class="amount">$45.00</span></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="shop-holder1">
                        <a href="single.html"><img src="images/pr3.png" class="img-responsive" alt=""/></a>
                    </div>
                    <div class="shop-content" style="height: 80px;">
                        <h3><a href="single.html">Non-charac</a></h3>
                        <span><span class="amount">$45.00</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="content_top">
    <h3 class="m_1">Latest Products</h3>
    <div class="container">
        <div class="box_1">
            <div class="col-md-7">
                <div class="section group">
                    <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
                        <div class="shop-holder">
                            <div class="product-img">
                                <a href="single.html">
                                    <img width="225" height="265" src="images/pr3.png" class="img-responsive"  alt="item4">		                            </a>
                                <a href="" class="button item_add"></a>		                         </div>
                        </div>
                        <div class="shop-content" style="height: 80px;">
                            <div><a href="single.html" rel="tag">humour</a></div>
                            <h3><a href="single.html">Non-charac</a></h3>
                            <span class="amount item_price">$45.00</span>
                        </div>
                    </div>
                    <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
                        <div class="shop-holder">
                            <div class="product-img">
                                <a href="single.html">
                                    <img width="225" height="265" src="images/pr1.png" class="img-responsive"  alt="item4">		                            </a>
                                <a href="" class="button item_add"></a>		                         </div>
                        </div>
                        <div class="shop-content" style="height: 80px;">
                            <div><a href="single.html" rel="tag">humour</a></div>
                            <h3><a href="single.html">Non-charac</a></h3>
                            <span class="amount item_price">$45.00</span>
                        </div>
                    </div>
                    <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
                        <div class="shop-holder">
                            <div class="product-img">
                                <a href="single.html">
                                    <img width="225" height="265" src="images/pr2.png" class="img-responsive"  alt="item4">		                            </a>
                                <a href="" class="button item_add"></a>	                         </div>
                        </div>
                        <div class="shop-content" style="height: 80px;">
                            <div><a href="single.html" rel="tag">humour</a></div>
                            <h3><a href="single.html">Non-charac</a></h3>
                            <span class="amount item_price">$45.00</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 row_3">
                <div class="about-block-content">
                    <div class="border-add"></div>
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae quam voluptatibus deleniti ipsa consequatur!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    <p>		        	</p></div>
                <img src="images/pic9.jpg" class="img-responsive" alt=""/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
