<div class="container">
    <div class="women_main">
        <div class="col-md-9 w_content">
            <div class="women">
                <a href="#"><h4>Enthecwear - <span>4449 itemms</span> </h4></a>
                <ul class="w_nav">
                    <li>Sort : </li>
                    <li><a class="active" href="#">popular</a></li> |
                    <li><a href="#">new </a></li> |
                    <li><a href="#">discount</a></li> |
                    <li><a href="#">price: Low High </a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- grids_of_4 -->
            <div class="grids_of_4">
                <div class="grid1_of_4 simpleCart_shelfItem">
                    <div class="content_box"><a href="#/products/show">
                        <div class="view view-fifth">
                            <img src="images/1.jpg" class="img-responsive" alt=""/>
                            <div class="mask1">
                                <div class="info"> </div>
                            </div>
                            </div>
                    </a>
                    </div>
                    <h5><a href="single.html"> Duis autem</a></h5>
                    <h6>It is a long establishe</h6>
                    <div class="size_1">
                        <span class="item_price">$187.95</span>
                        <select class="item_Size">
                            <option value="Small">L</option>
                            <option value="Medium">S</option>
                            <option value="Large">M</option>
                            <option value="Large">XL</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="size_2">
                        <div class="size_2-left">
                            <input type="text" class="item_quantity quantity_1" value="1" />
                        </div>
                        <div class="size_2-right"><input type="button" class="item_add add3" value="" /></div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="grid1_of_4 simpleCart_shelfItem">
                    <div class="content_box"><a href="single.html">
                        <div class="view view-fifth">
                            <img src="images/1.jpg" class="img-responsive" alt=""/>
                            <div class="mask1">
                                <div class="info"> </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <h5><a href="single.html"> Duis autem</a></h5>
                    <h6>It is a long establishe</h6>
                    <div class="size_1">
                        <span class="item_price">$187.95</span>
                        <select class="item_Size">
                            <option value="Small">L</option>
                            <option value="Medium">S</option>
                            <option value="Large">M</option>
                            <option value="Large">XL</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="size_2">
                        <div class="size_2-left">
                            <input type="text" class="item_quantity quantity_1" value="1" />
                        </div>
                        <div class="size_2-right"><input type="button" class="item_add add3" value="" /></div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- end grids_of_4 -->
    </div>
    <!-- start sidebar -->
    <div class="col-md-3">
        <div class="w_sidebar">
            <div class="w_nav1">
                <h4>All</h4>
                <ul>
                    <li><a href="women.html">women</a></li>
                    <li><a href="#">new arrivals</a></li>
                    <li><a href="#">trends</a></li>
                    <li><a href="#">boys</a></li>
                    <li><a href="#">girls</a></li>
                    <li><a href="#">sale</a></li>
                </ul>
            </div>
            <h3>filter by</h3>
            <section  class="sky-form">
                <h4>catogories</h4>
                <div class="row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>kutis</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>churidar kurta</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>salwar</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>printed sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>shree</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                    </div>
                </div>
            </section>12
        </div>
    </div>
    <!-- start content -->
    <div class="clearfix"></div>
    <!-- end content -->
</div>