<div class="single_top">
    <div class="container">
        <div class="single_grid">
            <div class="grid images_3_of_2">
                <ul id="etalage">
                    <li>
                        <a href="optionallink.html">
                            <img class="etalage_thumb_image" src="images/s1.jpg" class="img-responsive" />
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="desc1 span_3_of_2">
                <ul class="back">
                    <li><i class="back_arrow"> </i>Back to <a href="index.html">Men's Clothing</a></li>
                </ul>
                <h1>nibh euismod</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum</p>
                <div class="dropdown_top">
                    <div class="dropdown_left">
                        <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro1"}'>
                            <option value="0">Select size</option>
                            <option value="1">M</option>
                            <option value="2">L</option>
                            <option value="3">XL </option>
                            <option value="4">Fs</option>
                            <option value="5">S </option>
                            <option value="5"></option>
                            <option value="5"></option>
                        </select>
                    </div>
                    <ul class="color_list">
                        <li><a href="#"> <span class="color1"> </span></a></li>
                        <li><a href="#"> <span class="color2"> </span></a></li>
                        <li><a href="#"> <span class="color3"> </span></a></li>
                        <li><a href="#"> <span class="color4"> </span></a></li>
                        <li><a href="#"> <span class="color5"> </span></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="simpleCart_shelfItem">
                    <div class="price_single">
                        <div class="head"><h2><span class="amount item_price">$45.00</span></h2></div>
                        <div class="head_desc"><a href="#">12 reviews</a><img src="images/review.png" alt=""/></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="size_2-right"><a href="#" class="item_add item_add1 btn_5" value="">Add to Cart </a></div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="single_social_top">
            <ul class="single_social">
                <li><a href="#"> <i class="s_fb"> </i> <div class="social_desc">Share<br> on facebook</div><div class="clearfix"> </div></a></li>
                <li><a href="#"> <i class="s_twt"> </i> <div class="social_desc">Tweet<br> this product</div><div class="clearfix"> </div></a></li>
                <li><a href="#"> <i class="s_google"> </i><div class="social_desc">Google+<br> this product</div><div class="clearfix"> </div></a></li>
                <li class="last"><a href="#"> <i class="s_email"> </i><div class="social_desc">Email<br> a Friend</div><div class="clearfix"> </div></a></li>
            </ul>
        </div>
    <h3 class="m_2">Related Products</h3>
    <div class="container">
        <div class="box_3">
            <div class="col-md-3">
                <div class="content_box"><a href="single.html">
                    <img src="images/pic6.jpg" class="img-responsive" alt="">
                </a>
                </div>
                <h4><a href="single.html">Contrary to popular belief</a></h4>
                <p>$ 199</p>
            </div>
            <div class="col-md-3">
                <div class="content_box"><a href="single.html">
                    <img src="images/pic2.jpg" class="img-responsive" alt="">
                </a>
                </div>
                <h4><a href="single.html">Contrary to popular belief</a></h4>
                <p>$ 199</p>
            </div>
            <div class="col-md-3">
                <div class="content_box"><a href="single.html">
                    <img src="images/pic4.jpg" class="img-responsive" alt="">
                </a>
                </div>
                <h4><a href="single.html">Contrary to popular belief</a></h4>
                <p>$ 199</p>
            </div>
            <div class="col-md-3">
                <div class="content_box"><a href="single.html">
                    <img src="images/pic5.jpg" class="img-responsive" alt="">
                </a>
                </div>
                <h4><a href="single.html">Contrary to popular belief</a></h4>
                <p>$ 199</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>