<section>
    <div class="content container">
        <div class="col-md-offset-2">
            <form>
                <div class="form-group">
                    <label for="prod_name">Product name</label>
                    <input type="text" name="prod_name" class="form-control" id="prod_name">
                </div>
                <div class="form-group">
                    <label for="parent_category">Parent Category:</label>
                    <select class="form-control" name="category_ids[]" id="parent_category" multiple>
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                        <option>Category 4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="parent_subcategory">Parent Subcategory:</label>
                    <select class="form-control" name="subcategory_ids[]" id="parent_subcategory" multiple>
                        <option>SubCategory 1</option>
                        <option>SubCategory 2</option>
                        <option>SubCategory 3</option>
                        <option>SubCategory 4</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <input id="msg" type="text" class="form-control" name="description" placeholder="Additional Info">
                    </div>
                </div>
                <div class="form-group">
                    <label for="prod_price">Price</label>
                    <input type="number" name="price" class="form-control" id="prod_price">
                </div>
                <div class="form-group">
                    <label for="prod_price">Discount</label>
                    <input type="number" name="discount" class="form-control" id="prod_discount">
                    <span class="discounted_price"></span>
                </div>
                <div class="form-group">
                    <label for="sel1">Select sizes:</label>
                    <select name="sizes[]" multiple class="form-control" id="sel1">
                        <option>0-3m</option>
                        <option>12m</option>
                        <option>36m</option>
                        <option>4t</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="original_url">Original Url</label>
                    <input type="text" name="original_url" class="form-control" id="original_url">
                </div>
                <div class="form-group">
                    Image
                    <input type="file" name="file">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</section>