<section>
    <div class="content container">
        <div class="row">
            <div class="col-md-7">
                <h2>Category Table</h2>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Prod Count</th>
                        <th>Available sizes</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>564</td>
                        <td>12m ; 24m</td>
                        <td>
                            <a href="subcategory.html" class="btn btn-info" title="See Subcategories"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <h2>Add New Category</h2>
                <form>
                    <div class="form-group">
                        <label for="category">Category Name</label>
                        <input type="text" name="category" class="form-control" id="category" [(ngModel)]="categoryName" (keyup)="test()">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Select sizes:</label>
                        <select name="sizes[]" multiple class="form-control" id="sel1">
                            <option>0-3m</option>
                            <option>12m</option>
                            <option>36m</option>
                            <option>4t</option>
                        </select>
                    </div>
                    <button type="button" (click)="addCategory()" class="btn btn-success">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</section>