<section>
    <div style="padding: 10px">
        <div class="text-center">
            <a href="#/add" class="btn btn-success">Add Product</a>
        </div>

        <h2>Products</h2>
        <p>Parent Subcategory:</p>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Unique Code</th>
                <th>Categories</th>
                <th>Subcategories</th>
                <th>Price</th>
                <th>Size</th>
                <th>Discount</th>
                <th>Original Url</th>
                <th>KidsStore Url</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>
                    <img src="images/prod.png" width="100px" alt="">
                </td>
                <td>5L6RT4</td>
                <td>Parent <br> Categories</td>
                <td>Parent <br> Subcategories</td>
                <td>5000</td>
                <td>12m ; 24m</td>
                <td title="discount price">15%</td>
                <td>Origin Url</td>
                <td>Our Url</td>
                <td>Lorem Ipsum</td>
                <td>
                    <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
            <tr>
                <td>John</td>
                <td>
                    <img src="images/prod.png" width="100px" alt="">
                </td>
                <td>5L6RT4</td>
                <td>Parent <br> Categories</td>
                <td>Parent <br> Subcategories</td>
                <td>5000</td>
                <td>12m ; 24m</td>
                <td title="discount price">15%</td>
                <td>Origin Url</td>
                <td>Lorem Ipsum</td>
                <td>Our Url</td>
                <td>
                    <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>