<section>
    <div class="content container">
        <div class="row">
            <div class="col-md-7">
                <h2>Subcategory Table</h2>
                <p>Parent Category</p>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Subcategory Name</th>
                        <th>Prod Count</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>564</td>
                        <td>
                            <a href="#/products" class="btn btn-info" title="See Products"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <h2>Add New Subcategory</h2>
                <form>
                    <div class="form-group">
                        <label for="category">Subcategory Name</label>
                        <input type="text" name="subcategory" class="form-control" id="category">
                    </div>
                    <div class="form-group">
                        <label for="parent_category">Parent Category:</label>
                        <select class="form-control" name="category_id" id="parent_category">
                            <option>Category 1</option>
                            <option>Category 2</option>
                            <option>Category 3</option>
                            <option>Category 4</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Add Subcategory</button>
                </form>
            </div>
        </div>
    </div>
</section>